body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1652px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:563px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11279 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1000px;
  height:563px;
  display:flex;
}
#u11279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u11280 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:121px;
  width:8px;
  height:15px;
  display:flex;
}
#u11280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u11281 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:119px;
  width:35px;
  height:22px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u11281 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11281_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11282 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:289px;
  width:320px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:11.1px;
  color:#FFFFFF;
  line-height:31px;
}
#u11283 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:115px;
  width:125px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:11.1px;
  color:#FFFFFF;
  line-height:31px;
}
#u11283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11283_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.3607843137254902);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11284 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:382px;
  width:109px;
  height:40px;
  display:flex;
  color:#000000;
}
#u11284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.996078431372549);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u11285 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:382px;
  width:109px;
  height:40px;
  display:flex;
  color:#000000;
}
#u11285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:563px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11286 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:721px;
  width:1000px;
  height:563px;
  display:flex;
}
#u11286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u11287 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:742px;
  width:8px;
  height:15px;
  display:flex;
}
#u11287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u11288 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:740px;
  width:35px;
  height:22px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u11288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11289 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:911px;
  width:200px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:11.1px;
  color:#FFFFFF;
  line-height:31px;
}
#u11290 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:736px;
  width:125px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:11.1px;
  color:#FFFFFF;
  line-height:31px;
}
#u11290 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11290_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11291 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:102px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11292 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:721px;
  width:102px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u11293 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:223px;
  width:585px;
  height:160px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u11293 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11294 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:137px;
  width:128px;
  height:37px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11294 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11294_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
