body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:2239px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:664px;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:664px;
  display:flex;
}
#u8223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:23px;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:621px;
  width:98px;
  height:23px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
  line-height:23px;
}
#u8224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:414px;
  width:104px;
  height:18px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u8225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:295px;
  width:291px;
  height:253px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:159px;
  width:54px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:103px;
  width:128px;
  height:37px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8228_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:32px;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:187px;
  width:154px;
  height:32px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:32px;
}
#u8229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8230_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:507px;
  height:22px;
}
#u8230p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:502px;
  height:6px;
}
#u8230p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:6px;
}
#u8230p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u8230p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u8230p002 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8230p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:707px;
  top:202px;
  width:496px;
  height:2px;
  display:flex;
}
#u8230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8231 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:100px;
  width:1102px;
  height:1821px;
}
#u8232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u8232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:44px;
}
#u8233 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:661px;
  height:44px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u8233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:1736px;
}
#u8234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:400px;
  height:1736px;
  display:flex;
}
#u8234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:1736px;
}
#u8235 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:44px;
  width:661px;
  height:1736px;
  display:flex;
}
#u8235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u8236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1780px;
  width:400px;
  height:30px;
  display:flex;
}
#u8236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:30px;
}
#u8237 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1780px;
  width:661px;
  height:30px;
  display:flex;
}
#u8237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8238 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:173px;
  width:148px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u8238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8239 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:1765px;
  width:148px;
  height:44px;
  display:flex;
}
#u8239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8240 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:291px;
  width:148px;
  height:62px;
  display:flex;
}
#u8240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8241 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:886px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8242 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:1158px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8243 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:1022px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8244 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:1301px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8245 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:1450px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8246 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:217px;
  width:0px;
  height:0px;
}
#u8246_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u8246_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:57px;
  width:32px;
  height:32px;
}
#u8246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8247 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:948px;
  width:0px;
  height:0px;
}
#u8247_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u8247_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:57px;
  width:32px;
  height:32px;
}
#u8247_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8248 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1084px;
  width:0px;
  height:0px;
}
#u8248_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u8248_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:57px;
  width:32px;
  height:32px;
}
#u8248_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8249 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1220px;
  width:0px;
  height:0px;
}
#u8249_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:86px;
}
#u8249_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:64px;
  width:32px;
  height:32px;
}
#u8249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8250 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1363px;
  width:0px;
  height:0px;
}
#u8250_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:92px;
}
#u8250_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:70px;
  width:32px;
  height:32px;
}
#u8250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8251 {
  border-width:0px;
  position:absolute;
  left:1978px;
  top:304px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8252 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:300px;
  width:148px;
  height:44px;
  display:flex;
}
#u8252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8253 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:895px;
  width:148px;
  height:44px;
  display:flex;
}
#u8253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8254 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1031px;
  width:148px;
  height:44px;
  display:flex;
}
#u8254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8255 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1167px;
  width:148px;
  height:44px;
  display:flex;
}
#u8255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8256 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1310px;
  width:148px;
  height:44px;
  display:flex;
}
#u8256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8257 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1459px;
  width:148px;
  height:44px;
  display:flex;
}
#u8257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8258 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:322px;
  width:0px;
  height:0px;
}
#u8258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8258_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8258_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8259 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:917px;
  width:0px;
  height:0px;
}
#u8259_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8259_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8259_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8260 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:1053px;
  width:0px;
  height:0px;
}
#u8260_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8260_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8260_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8261 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:1189px;
  width:0px;
  height:0px;
}
#u8261_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8261_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8261_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8262 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:1332px;
  width:0px;
  height:0px;
}
#u8262_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8262_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8262_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8263 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:899px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8264 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:1035px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8265 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:1171px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8266 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:1314px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8267 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:1463px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8268 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:1622px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8269 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1512px;
  width:0px;
  height:0px;
}
#u8269_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:115px;
}
#u8269_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:93px;
  width:32px;
  height:32px;
}
#u8269_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8270 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:1684px;
  width:0px;
  height:0px;
}
#u8270_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:86px;
}
#u8270_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:64px;
  width:32px;
  height:32px;
}
#u8270_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8271 {
  border-width:0px;
  position:absolute;
  left:1699px;
  top:1631px;
  width:148px;
  height:44px;
  display:flex;
}
#u8271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8272 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:1653px;
  width:0px;
  height:0px;
}
#u8272_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8272_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8272_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:23px;
}
#u8273 {
  border-width:0px;
  position:absolute;
  left:1969px;
  top:1635px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
  line-height:23px;
}
#u8273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8274 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:322px;
  width:0px;
  height:0px;
}
#u8274_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:136px;
  height:10px;
}
#u8274_seg1 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8274_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8275 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:917px;
  width:0px;
  height:0px;
}
#u8275_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:127px;
  height:10px;
}
#u8275_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8275_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8276 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:1053px;
  width:0px;
  height:0px;
}
#u8276_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:127px;
  height:10px;
}
#u8276_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8276_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8277 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:1189px;
  width:0px;
  height:0px;
}
#u8277_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:127px;
  height:10px;
}
#u8277_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8277_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8278 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:1332px;
  width:0px;
  height:0px;
}
#u8278_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:127px;
  height:10px;
}
#u8278_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8278_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8279 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:1481px;
  width:0px;
  height:0px;
}
#u8279_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:127px;
  height:10px;
}
#u8279_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8279_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8280 {
  border-width:0px;
  position:absolute;
  left:1847px;
  top:1653px;
  width:0px;
  height:0px;
}
#u8280_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:127px;
  height:10px;
}
#u8280_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8280_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8281 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:1481px;
  width:0px;
  height:0px;
}
#u8281_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:219px;
  height:10px;
}
#u8281_seg1 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8281_text {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8282 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:431px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:708px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:440px;
  width:148px;
  height:44px;
  display:flex;
}
#u8284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:717px;
  width:148px;
  height:44px;
  display:flex;
}
#u8285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:462px;
  width:0px;
  height:0px;
}
#u8286_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:217px;
  height:10px;
}
#u8286_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8286_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8287 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:739px;
  width:0px;
  height:0px;
}
#u8287_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:217px;
  height:10px;
}
#u8287_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8287_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8288 {
  border-width:0px;
  position:absolute;
  left:1978px;
  top:444px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u8288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8289 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:462px;
  width:0px;
  height:0px;
}
#u8289_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:138px;
  height:10px;
}
#u8289_seg1 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8289_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:62px;
}
#u8290 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:569px;
  width:148px;
  height:62px;
  display:flex;
  line-height:20px;
}
#u8290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8291 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:631px;
  width:0px;
  height:0px;
}
#u8291_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:82px;
}
#u8291_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:60px;
  width:32px;
  height:32px;
}
#u8291_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8292 {
  border-width:0px;
  position:absolute;
  left:1978px;
  top:582px;
  width:264px;
  height:35px;
  display:flex;
  color:#FFFFFF;
}
#u8292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:74px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8293 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:578px;
  width:148px;
  height:44px;
  display:flex;
}
#u8293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8294 {
  border-width:0px;
  position:absolute;
  left:1485px;
  top:600px;
  width:0px;
  height:0px;
}
#u8294_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:217px;
  height:10px;
}
#u8294_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-16px;
  width:32px;
  height:32px;
}
#u8294_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8295 {
  border-width:0px;
  position:absolute;
  left:1845px;
  top:600px;
  width:0px;
  height:0px;
}
#u8295_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:138px;
  height:10px;
}
#u8295_seg1 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8295_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:20px;
}
#u8296 {
  border-width:0px;
  position:absolute;
  left:1446px;
  top:770px;
  width:285px;
  height:20px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
  line-height:20px;
}
#u8296 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8297 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:493px;
  width:0px;
  height:0px;
}
#u8297_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u8297_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:59px;
  width:32px;
  height:32px;
}
#u8297_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8298 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:770px;
  width:0px;
  height:0px;
}
#u8298_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:121px;
}
#u8298_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:99px;
  width:32px;
  height:32px;
}
#u8298_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u8299 {
  border-width:0px;
  position:absolute;
  left:1411px;
  top:353px;
  width:0px;
  height:0px;
}
#u8299_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:83px;
}
#u8299_seg1 {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:61px;
  width:32px;
  height:32px;
}
#u8299_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
