body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:979px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:3px;
  -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.34901960784313724);
  -webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.34901960784313724);
  box-shadow:0px 0px 10px rgba(0, 0, 0, 0.34901960784313724);
}
#u6605 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:675px;
  display:flex;
}
#u6605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u6606 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:137px;
  width:8px;
  height:14px;
  display:flex;
}
#u6606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6608 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:103px;
  width:369px;
  height:27px;
  display:flex;
}
#u6608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:11px;
}
#u6609 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:111px;
  width:354px;
  height:11px;
  display:flex;
}
#u6609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6610 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:136px;
  width:174px;
  height:18px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6611 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:582px;
  width:346px;
  height:42px;
  display:flex;
  color:#FFFFFF;
}
#u6611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  line-height:39px;
}
#u6612 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:137px;
  width:331px;
  height:39px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  line-height:39px;
}
#u6612 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6612_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u6613 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:195px;
  width:532px;
  height:128px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u6613 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:2px;
}
#u6614 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:296px;
  width:308px;
  height:1px;
  display:flex;
}
#u6614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u6615 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:262px;
  width:84px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#000000;
}
#u6615 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6615_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Cascadia Code Bold', 'Cascadia Code', 'Cascadia Code', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6616 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:187px;
  width:208px;
  height:19px;
  display:flex;
  font-family:'Cascadia Code Bold', 'Cascadia Code', 'Cascadia Code', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6616 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6616_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u6617 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:219px;
  width:224px;
  height:16px;
  display:flex;
  color:#AAAAAA;
}
#u6617 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6617_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6618 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:120px;
  width:50px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
