body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1717px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:587px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11295 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1000px;
  height:587px;
  display:flex;
}
#u11295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u11296 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:121px;
  width:8px;
  height:15px;
  display:flex;
}
#u11296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u11297 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:119px;
  width:35px;
  height:22px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
}
#u11297 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11297_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11299 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:243px;
  width:916px;
  height:1px;
  display:flex;
}
#u11299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11300 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:206px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11300 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11300_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11301 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:202px;
  width:61px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11301 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11301_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:11.1px;
  color:#FFFFFF;
  line-height:31px;
}
#u11302 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:115px;
  width:187px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  letter-spacing:11.1px;
  color:#FFFFFF;
  line-height:31px;
}
#u11302 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11302_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11304 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:302px;
  width:916px;
  height:1px;
  display:flex;
}
#u11304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11305 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:265px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11305 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11305_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11306 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:261px;
  width:105px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11306 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11306_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11307 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:362px;
  width:916px;
  height:1px;
  display:flex;
}
#u11307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11308 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:325px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11308 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11308_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11309 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:321px;
  width:35px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11309 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11309_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11311 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:424px;
  width:916px;
  height:1px;
  display:flex;
}
#u11311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11312 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:387px;
  width:166px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11312 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11312_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11313 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:383px;
  width:154px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11313 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11313_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11315 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:483px;
  width:916px;
  height:1px;
  display:flex;
}
#u11315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11316 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:446px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11316 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11316_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11317 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:442px;
  width:71px;
  height:31px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:31px;
}
#u11317 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11317_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11318 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11319 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:543px;
  width:916px;
  height:1px;
  display:flex;
}
#u11319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11320 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:506px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11320 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11320_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:26px;
}
#u11321 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:492px;
  width:133px;
  height:52px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:26px;
}
#u11321 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11321_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11323 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:607px;
  width:916px;
  height:1px;
  display:flex;
}
#u11323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11324 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:570px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11324 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11324_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:26px;
}
#u11325 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:556px;
  width:133px;
  height:52px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:26px;
}
#u11325 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11325_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11326 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:102px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:2px;
}
#u11328 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:671px;
  width:916px;
  height:1px;
  display:flex;
}
#u11328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11329 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:634px;
  width:140px;
  height:27px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u11329 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11329_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:26px;
}
#u11330 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:636px;
  width:182px;
  height:26px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:1.5px;
  color:#FFFFFF;
  text-align:right;
  line-height:26px;
}
#u11330 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11330_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:340px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:34px;
}
#u11331 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:223px;
  width:613px;
  height:340px;
  display:flex;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  line-height:34px;
}
#u11331 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11331_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11332 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:138px;
  width:128px;
  height:37px;
  display:flex;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11332 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11332_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
